In [1]:
import pandas as pd
import pandas as np

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
data = pd.read_csv('제조업_target수정.csv', encoding='cp949')

In [3]:
data

,ID,SQ2,SQ3,SQ4,SQ5,Q1_1,Q1_2,Q1_3,Q1_4,Q2,...,Q19_3_4,Q22_1,Q22_2,Q28_1,Q28_2,Q28_3,Q30,Q31,Q31_1,target
0,25,2009,2,1,9,52,7,0,28,2,...,0.0,1,3.0,3,4.0,5.0,2,2,0.0,1
1,26,2001,1,1,1,20,2,1,7,2,...,0.0,3,9.0,6,4.0,3.0,2,2,0.0,0
2,27,2005,1,1,1,20,3,1,10,2,...,0.0,2,9.0,5,4.0,9.0,2,1,4.0,0
3,28,2003,1,1,1,30,1,2,16,2,...,0.0,1,3.0,6,7.0,8.0,2,2,0.0,0
4,29,2002,1,1,1,22,20,0,2,2,...,0.0,1,4.0,6,4.0,5.0,1,1,4.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3250,8428,2010,2,1,13,69,10,2,4,2,...,80.0,1,4.0,5,6.0,7.0,2,1,4.0,0
3251,8429,1991,3,1,16,100,18,19,26,1,...,0.0,1,4.0,2,6.0,8.0,1,1,5.0,0
3252,8432,1999,5,1,16,768,89,0,35,1,...,0.0,1,4.0,3,4.0,1.0,1,1,4.0,1
3253,8433,2018,1,1,7,48,16,8,19,2,...,5.0,1,3.0,3,2.0,4.0,1,1,3.0,1
3254,8436,2005,1,1,9,45,3,13,5,2,...,0.0,1,4.0,3,4.0,7.0,2,1,5.0,0

In [4]:
data['type1'] = data['Q14_2'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns = 'Q14_2')

In [5]:
data['type2'] = data['Q14_4'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns ='Q14_4')

In [6]:
data['type3'] = data['Q14_5'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns ='Q14_5')

In [7]:
data['type4'] = data['Q14_6'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns = 'Q14_6')

In [8]:
data['type5'] = data[['Q14_7', 'Q14_13', 'Q14_14', 'Q14_15', 'Q14_16', 'Q14_17']].max(axis=1)
data['type5'] = data['type5'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns=['Q14_7', 'Q14_13', 'Q14_14', 'Q14_15', 'Q14_16', 'Q14_17'])

In [9]:
data['type6'] = data[['Q14_8', 'Q14_9', 'Q14_10', 'Q14_11', 'Q14_12']].max(axis=1)
data['type6'] = data['type6'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns=['Q14_8', 'Q14_9', 'Q14_10', 'Q14_11', 'Q14_12'])

In [10]:
data['type7'] = data['Q14_18'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns = 'Q14_18')

In [11]:
data['type8'] = data['Q14_19'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns = 'Q14_19')

In [12]:
data['type9'] = data['Q14_20'].apply(lambda x: 0 if x < 4 else 1)
data = data.drop(columns = 'Q14_20')

## <font color = 'navy'> Modeling

In [206]:
y = data[data['target']==1]['type9']
X = data[data['target']==1].drop(columns='type9')

In [207]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 0)

model = CatBoostClassifier(random_state=42, verbose=False)
model.fit(X_train, y_train)
pred = model.predict_proba(X_test)[:, 1]
score = roc_auc_score(y_test, pred)

In [208]:
score

0.8947745168217609

In [209]:
pred.mean()

0.048557159022647824